<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div class="signin">
    <p>Please sign in </p>
    {% if message %}
    {% endif %}
<form method="POST" action="/">
    Email:
    <br>
    <input type="email" name="email" placeholder="Email" required>
    <br>
    Password:
    <br>
    <input type="password" name="password" placeholder="Password" required>
    <br>
    <input type="submit" name = 'submit' value="submit">

</form>
<a href="/registration">Register</a>

</div>

</body>
</html>
